body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.box {
    width: 350px;
    margin: 80px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.dropdown {
    width: 80%;
    padding: 6px;
    font-size: 14px;
}

.product-img {
    margin-top: 15px;
    width: 200px;
    height: 150px;
    border-radius: 6px;
}

.btn {
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 15px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

    .btn:hover {
        background-color: #005fa3;
    }

.price {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: green;
}
