body {
    /* background-image:url('https://thumbs.dreamstime.com/b/breathtaking-view-fluffy-clouds-illuminated-pink-hued-sunrise-sunset-ethereal-pink-clouds-sky-sunrise-315368444.jpg'); */
    background-color: #BDDDFC;
    background-size: cover;
    background-attachment: fixed;

}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6A89A7;
    /* margin-left:100px;
margin-right:100px;
margin-top:100px; */
    /* margin: 50px; */
    background-image: url('banner.jpg');
    background-size: cover;
    word-spacing: 20px;
    border-radius: 20px;


}

article {
    height: 800px;
    background: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

footer {
    margin-left: 100px;
    margin-right: 100px;
    height: 100px;
    background: grey;
}

a {
    text-shadow: 2px 2px 0px red;
    border-radius: 100px 100px 0 0;
    border-width: 10px 50px 10px 50px;
    border-style: dashed ridge dashed groove;
    border-color: blue;
    font-size: 24px;
    background: blue;
    color: white;

}

@keyframes mycustom {
    0% {
        background-image: url('https://static.vecteezy.com/system/resources/previews/000/379/698/non_2x/dice-one-vector-icon.jpg');
      
    }

    10% {
        background-image: url('https://www.iconpacks.net/icons/free-icons-6/free-red-dice-number-two-icon-20203-thumb.png');

    }

    20% {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKA9_uJJsVRUZ9QbSnyzyXeJObXEcXVnnAMazbpJCeMHBwF8lDAU3cHDggY1FbPnSMhAU&usqp=CAU');

    }

    30% {
        background-image: url('https://static.vecteezy.com/system/resources/previews/000/365/695/non_2x/dice-four-vector-icon.jpg');

    }


    50% {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWjuhM1MZxULGAp6STL4sICzkjz3ulNfF7wxgeDuOdyyRSG4lPWD0JFwbs9dszQf9NXCI&usqp=CAU');

    }

    60% {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxmZK2SnqnoRrzOalfSwYH73EfLobVTaSHLa52Do8uaDorvhXUPNEmI2dNHwypw2XIf60&usqp=CAU');

    }

    100% {
        background-image: url('https://static.vecteezy.com/system/resources/previews/000/379/698/non_2x/dice-one-vector-icon.jpg');

    }
}

.dice {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: mycustom 10s steps(1) infinite;
}

.assignment1
{
    width: 450px;
    height: 200px;
    border: 2px solid #BDDDFC;
    margin: 20px;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #BDDDFC;
    border-radius: 20px;

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 150px;
    /* background-color: #6A89A7; */
    border: 1px solid gray;
    border-radius: 20px;
    background-color: gray;
    padding: 20px;

}


th,td{
    border: 1px solid black;

    
}
th{
    background-color: rgb(133, 55, 133);
    width: 250px;
    height: 40px;
}
.datarow
{
    text-align: center;
}
.datarow:nth-child(even)
{
    background-color: #ccd0d4;
}


.gallery {
    position: relative;
    width: 80%;
    height: 260px;
    margin-left: 20%;
    margin-bottom: 150px;
}


.gallery-image {
    position: absolute;
    width: 350px;
    height: 200px;
    cursor: pointer;
    object-fit: cover;
    border: 1px solid black;

    transition: transform 0.3s ease, z-index 0.3s ease;
}


.gallery-image:nth-child(1) {
    top: 20px;
    left: 50px;
    z-index: 1;
}

.gallery-image:nth-child(2) {
    top: 60px;
    left: 180px;
    z-index: 2;
}

.gallery-image:nth-child(3) {
    top: 100px;
    left: 300px;
    z-index: 3;
}


.gallery-image:hover,
.gallery-image:active {
    z-index: 10;
    transform: scale(1.05) rotate(-30deg);

}

.contact-outer{
    width: 80%;
    height: 50%;
    border: 1px solid #c5cecf;
    border-radius: 20px;
    margin-bottom: 200px;
    display: flex;
    justify-content:space-evenly;
    align-items: stretch; 
    background-color: #c5cecf;

}
.contact-left{
    width: 50%;
    height: 100%;

}
.contact-right{
    width: 50%;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-right input,
.contact-right textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family:Arial, Helvetica, sans-serif;
}
.contact-right button{
    background: #7b5cff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.register-outer {
    width: 320px;
    margin: 40px auto;
    padding: 15px;
    border: 1px solid #999;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #99a7b4;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 6px 10px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(90deg, #001f3f, #6a00ff, #001f3f);
    color: white;
    outline: none;
}


input[type="date"] {
    color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.row div {
    flex: 1;
}

input[type="range"] {
    background: none;
}

input[type="color"] {
    padding: 2px;
    height: 30px;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 6px 18px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #001f3f, #6a00ff);
    color: white;
    cursor: pointer;
}

.video-outer
{
    width: 80%;
    height: 400px;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20%;
}