.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.Dom-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.color-change {
    width: 90%;
    height: 150px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.select-css {
    background-color: aliceblue;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    text-align: center;
}

.validate-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 300px;
    border: 2px solid;
}

.form {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.btn {
    width: 60px;
    height: 30px;
    border: 2px solid rgb(27, 147, 222);
    border-radius: 20px;
    background-color: rgb(27, 147, 222);
    color: white;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

th,
td {
    border: 1px solid #444;
    width: 250px;
    height: 100px;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #4CAF50;
    color: white;
    height: 40px;
}

td {
    background-color: #eaf2ff;
}
.emp-img {
    width: 100%;
    height: 100%;
    object-fit: contain; 

}
.image-changer{
    margin-top: 40px;
    margin-bottom: 100px;
    width: 35%;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.image-changer:hover{
    transform: scale(1.05);
}
.image{
    width: 100%;
    height: 100%;
}